/* +++++++++++++++++++++++++++++++++++++++ */

:root {
  --Greenone: hsl(148, 38%, 91%);
  --Greentwo: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
  --White: hsl(0, 0%, 100%);
  --Greyone: hsl(186, 15%, 59%);
  --Greytwo: hsl(187, 24%, 22%);
  --Greythree: hsl(169, 83%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--Greenone);
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: var(--White);
  padding: 25px 30px;
  height: 580px;
  border-radius: 12px;

}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.35rem;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--Greentwo);
  border: 1px solid var(--Greentwo);
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: var(--Greentwo);
  color: white;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: var(--Greythree);
  transition: all 0.3s ease;
}

.form-alert {
  color: var(--Red);
  display: none;
}

.form-item:nth-child(1) {
  display: flex;
  gap: 1rem;
  font-size: 14px;
}

h1 {
  margin-bottom: 1rem;
}
label {
  font-size: 14px;
}
input {
  margin-bottom: 1rem;
}
input.checkbox {
  margin-bottom: 0;
}

.form-item:nth-child(3) .checkbox {
  display: flex;
  gap: 0.5rem;
}

.form-item:nth-child(3) .checkbox .box1 {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  margin: 10px 0px;
  padding-left: 1.5rem;
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
}

.form-item:nth-child(3) .checkbox .box1 input {
  width: 1.5rem;
  height: 1rem;
  accent-color: var(--Greentwo);
}

.form-item:nth-child(3) .checkbox .box1 label {
  width: 100%;
  cursor: pointer;
}

.box1:hover {
  background-color: lightgreen;
  transition: all 0.3s ease;
}
.box1:active {
  background-color: rgb(120, 232, 120);
  font-weight: 500;
}
#message {
  margin-bottom: 30px;
}

#success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  border-radius: 5px;
  background-color: rgb(69, 69, 69);
  pointer-events: none;
  width: max-content;
  padding: 2rem;
  height: 10%;
  color: white;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  /* opacity: 0; */
}
#success-message:active {
  display: block;
  pointer-events: all;

  animation-name: fadeOut;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0%,
  25%,
  50%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form-item:nth-child(5) {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.form-item:nth-child(5) .checkbox {
  cursor: pointer;
  accent-color: var(--Greentwo);
}
.form-item:nth-child(5) label {
  width: 60%;
  cursor: pointer;
  margin-left: 1rem;
}
